anyio @ file:///Users/ec2-user/croot/anyio_1773134411584/work
appnope @ file:///private/var/folders/k1/30mswbxs7r1g6zwn8y4fyt500000gp/T/abs_46iquy4y0r/croot/appnope_1750774774351/work
argon2-cffi @ file:///Users/ec2-user/croot/argon2-cffi_1766067824920/work
argon2-cffi-bindings @ file:///opt/miniconda3/conda-bld/argon2-cffi-bindings_1757924854450/work
asttokens @ file:///Users/ec2-user/croot/asttokens_1773135889661/work
async-lru @ file:///Users/ec2-user/croot/async-lru_1783504980176/work
attrs @ file:///Users/ec2-user/croot/attrs_1774959665388/work
babel @ file:///opt/miniconda3/conda-bld/babel_1764159382137/work
backcall==0.2.0
beautifulsoup4 @ file:///Users/ec2-user/croot/beautifulsoup4-split_1781173601500/work
bleach @ file:///Users/ec2-user/croot/bleach_1782390512661/work
brotlicffi @ file:///opt/miniconda3/conda-bld/brotlicffi_1764961161648/work
certifi @ file:///Users/ec2-user/croot/certifi_1785412579589/work/certifi
cffi @ file:///Users/ec2-user/croot/cffi_1784189409529/work
charset-normalizer @ file:///Users/ec2-user/croot/charset-normalizer_1782917470004/work
comm @ file:///opt/miniconda3/conda-bld/comm_1763119153703/work
debugpy @ file:///Users/ec2-user/croot/debugpy_1783354541173/work
decorator @ file:///Users/ec2-user/croot/decorator_1781691545610/work
defusedxml @ file:///tmp/build/80754af9/defusedxml_1615228127516/work
docopt==0.6.2
executing @ file:///opt/miniconda3/conda-bld/executing_1757061235776/work
fastjsonschema @ file:///opt/miniconda3/conda-bld/python-fastjsonschema_1763718719073/work
h11 @ file:///opt/miniconda3/conda-bld/h11_1761931260823/work
httpcore @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_941yf7p5zt/croot/httpcore_1748526061031/work
httpx @ file:///opt/miniconda3/conda-bld/httpx_1760447187197/work
idna @ file:///Users/ec2-user/croot/idna_1780561398850/work
iniconfig @ file:///Users/ec2-user/croot/iniconfig_1767356812427/work
ipykernel @ file:///Users/ec2-user/croot/ipykernel_1772612352018/work
ipython==8.12.3
ipython_pygments_lexers @ file:///private/var/folders/k1/30mswbxs7r1g6zwn8y4fyt500000gp/T/abs_25fteymumy/croot/ipython_pygments_lexers_1744753256449/work
ipywidgets @ file:///Users/ec2-user/croot/ipywidgets_1771500030517/work
jedi @ file:///Users/ec2-user/croot/jedi_1778681758103/work
Jinja2 @ file:///private/var/folders/k1/30mswbxs7r1g6zwn8y4fyt500000gp/T/abs_2cnn4kenrm/croot/jinja2_1741710859444/work
json5 @ file:///opt/miniconda3/conda-bld/json5_1763718553673/work
jsonschema @ file:///Users/ec2-user/croot/jsonschema_1767955668868/work
jsonschema-specifications @ file:///opt/miniconda3/conda-bld/jsonschema-specifications_1762788416887/work
jupyter @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_4eoc_4jij1/croot/jupyter_1737645814862/work
jupyter-console @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_62liw5pns2/croot/jupyter_console_1679999641189/work
jupyter-events @ file:///Users/ec2-user/croot/jupyter_events_1778067257736/work
jupyter-lsp @ file:///Users/ec2-user/croot/jupyter-lsp_1769773369838/work
jupyter_client @ file:///Users/ec2-user/croot/jupyter_client_1781183283559/work
jupyter_core @ file:///opt/miniconda3/conda-bld/jupyter_core_1764588284546/work
jupyter_server @ file:///Users/ec2-user/croot/jupyter_server_1782400773221/work
jupyter_server_terminals @ file:///Users/ec2-user/croot/jupyter_server_terminals_1770289362611/work
jupyterlab @ file:///Users/ec2-user/croot/jupyterlab_1782727246074/work
jupyterlab_pygments @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_42uijy7nfe/croot/jupyterlab_pygments_1741124161488/work
jupyterlab_server @ file:///Users/ec2-user/croot/jupyterlab_server_1769629825077/work
jupyterlab_widgets @ file:///home/task_Juh6Nl9AS1Ob4_0/croot/jupyterlab_widgets_1784891225347/work/python/jupyterlab_widgets
MarkupSafe @ file:///Users/ec2-user/croot/markupsafe_1782390855710/work
matplotlib-inline @ file:///Users/ec2-user/croot/matplotlib-inline_1784795156240/work
mistune @ file:///Users/ec2-user/croot/mistune_1783704014956/work
nbclient @ file:///Users/ec2-user/croot/nbclient_1782484514364/work
nbconvert @ file:///Users/ec2-user/croot/nbconvert-meta_1782391041398/work
nbformat @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_2cv_qoc1gw/croot/nbformat_1728049423516/work
nest-asyncio @ file:///private/var/folders/k1/30mswbxs7r1g6zwn8y4fyt500000gp/T/abs_310vb5e2a0/croot/nest-asyncio_1708532678212/work
notebook @ file:///Users/ec2-user/croot/notebook_1783948636169/work
notebook_shim @ file:///Users/ec2-user/croot/notebook-shim_1769629836827/work
numpy @ file:///Users/ec2-user/croot/numpy_and_numpy_base_1780345816396/work/dist/numpy-2.4.6-cp311-cp311-macosx_12_0_arm64.whl#sha256=439d0d1dc586cceb1c20fe2d77a945fa30fb728f2ecdd92c317d8c25c49c5463
overrides @ file:///opt/miniconda3/conda-bld/overrides_1762349088711/work
packaging==26.0
pandas @ file:///Users/ec2-user/croot/pandas_1780071654567/work
pandocfilters @ file:///opt/miniconda3/conda-bld/pandocfilters_1756977617494/work
parso @ file:///Users/ec2-user/croot/parso_1778674012754/work
pexpect @ file:///opt/miniconda3/conda-bld/pexpect_1762535935939/work
pickleshare==0.7.5
pipreqs==0.5.0
platformdirs @ file:///Users/ec2-user/croot/platformdirs_1785312136153/work
pluggy @ file:///Users/ec2-user/croot/pluggy_1776972807112/work
prometheus_client @ file:///Users/ec2-user/croot/prometheus_client_1772733395814/work
prompt_toolkit @ file:///Users/ec2-user/croot/prompt-toolkit-split_1785325124575/work
psutil @ file:///Users/ec2-user/croot/psutil_1784875203087/work
ptyprocess @ file:///opt/miniconda3/conda-bld/ptyprocess_1762424170819/work/dist/ptyprocess-0.7.0-py2.py3-none-any.whl#sha256=3470be7f810474c8a2ecfcd6e02acc6aea8483ab595417fa4e336362a349933e
pure_eval @ file:///opt/miniconda3/conda-bld/pure_eval_1757067067189/work
pycparser @ file:///Users/ec2-user/croot/pycparser_1774959673631/work
Pygments @ file:///Users/ec2-user/croot/pygments_1775127021103/work
PySocks @ file:///opt/miniconda3/conda-bld/pysocks_1761753010242/work
pytest @ file:///Users/ec2-user/croot/pytest_1777654755794/work
python-dateutil @ file:///private/var/folders/k1/30mswbxs7r1g6zwn8y4fyt500000gp/T/abs_66ud1l42_h/croot/python-dateutil_1716495741162/work
python-json-logger @ file:///opt/miniconda3/conda-bld/python-json-logger_1764590078674/work
PyYAML @ file:///opt/miniconda3/conda-bld/pyyaml_1763465492937/work
pyzmq @ file:///opt/miniconda3/conda-bld/pyzmq_1762375616040/work
qtconsole @ file:///Users/ec2-user/croot/qtconsole_1776670403463/work
QtPy @ file:///opt/miniconda3/conda-bld/qtpy_1757531017820/work
referencing @ file:///opt/miniconda3/conda-bld/referencing_1762536886664/work
requests @ file:///Users/ec2-user/croot/requests_1780348915804/work
rfc3339-validator @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_76ae5cu30h/croot/rfc3339-validator_1683077051957/work
rfc3986-validator @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_d0l5zd97kt/croot/rfc3986-validator_1683058998431/work
rpds-py @ file:///opt/miniconda3/conda-bld/rpds-py_1762366478996/work
Send2Trash @ file:///Users/ec2-user/croot/send2trash_1768170599579/work
six @ file:///private/var/folders/k1/30mswbxs7r1g6zwn8y4fyt500000gp/T/abs_03myqm7p6o/croot/six_1744271511946/work
soupsieve @ file:///Users/ec2-user/croot/soupsieve_1783696923700/work
stack_data @ file:///opt/miniconda3/conda-bld/stack_data_1757067039886/work
terminado @ file:///Users/ec2-user/croot/terminado_1769591692049/work
tinycss2 @ file:///opt/miniconda3/conda-bld/tinycss2_1764948936749/work
tornado @ file:///Users/ec2-user/croot/tornado_1782314825060/work
traitlets @ file:///Users/ec2-user/croot/traitlets_1778743188716/work
typing_extensions @ file:///Users/ec2-user/croot/typing_extensions_1784100998941/work
ucimlrepo==0.0.7
urllib3 @ file:///Users/ec2-user/croot/urllib3_1778536191454/work
wcwidth @ file:///Users/ec2-user/croot/wcwidth_1783583483910/work
webencodings==0.5.1
websocket-client @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_d37u7gqts8/croot/websocket-client_1715878310260/work
widgetsnbextension @ file:///opt/miniconda3/conda-bld/widgetsnbextension_1761556742499/work
yarg==0.1.9
